<div fxFlex fxLayout="column">
    <mat-toolbar class="mat-primary" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <img src="./assets/modulware_logo_small.png" (click)="gotoModulWare()">
        <div>
            <span>Stackblitz Angular Example</span>
        </div>
        <div class="placeholder-right"></div>
    </mat-toolbar>

    <div class="wrapper">

      <div class="table-flex-container">

        <div class="table-overflow-container">
          <sample-content></sample-content>
        </div>

      </div>

    </div>

    <mat-toolbar fxFlex fxLayoutAlign="center center">
        Made with
        <img src="./assets/heart.png" style="height: 12px; width: 12px; padding: 0 6px 0 6px;">
        in Mömbris
    </mat-toolbar>

</div>